.color-gul { color: #FFD700; }
.color-grå { color: #808080; }
.color-brun { color: #8B4513; }
.color-blå { color: #1E90FF; }
.color-grön { color: #32CD32; }
.color-röd { color: #FF4136; }
.color-vit { color: #ced2d8; }
.color-svart { color: #000000; }
.color-orange { color: #FFA500; }
.color-beige { color: #ae2450; }

